<div xmlns="http://www.w3.org/1999/html" >
  <div class="card text-white bg-primary text-center">
    <div class="card-body">
      <blockquote class="card-bodyquote" >

      <div class="card-body">
        <carousel [interval]=6000>
          <slide>
            <img class='img-circle'  src="https://picsum.photos/id/1/900/500" alt="First slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img class='img-circle'  src="https://picsum.photos/id/1026/900/500" alt="Second slide" style="  display: block; width: 100%;">
          </slide>
          <slide>

            <img class='img-circle'  src="https://picsum.photos/id/1031/900/500" style="display: block; width: 100%;">
          </slide>

        </carousel>
        <br><br>
        <br>
        <br>

        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Nom</label>
            <div class="col-md-9">
              <p class="form-control-static">Nourrr</p>
            </div>

            <label class="col-md-3 col-form-label">Prenom</label>
            <div class="col-md-9">
              <p class="form-control-static">Mohamed</p>
            </div>
            <label class="col-md-3 col-form-label">Adresse</label>
            <div class="col-md-9">
              <p class="form-control-static">33 Rue </p>
            </div>
            <label class="col-md-3 col-form-label">Age</label>
            <div class="col-md-9">
              <p class="form-control-static">87</p>
            </div>

            <label class="col-md-3 col-form-label">Maladie</label>
            <div class="col-md-9">
              <p class="form-control-static">Hypertension artérielle</p>
            </div>


            <label class="col-md-3 col-form-label">Numero Urgence</label>
            <div class="col-md-9">
              <p class="form-control-static">0021650000000</p>
            </div>





          </div>

        </form>
      </div>

   </blockquote></div></div></div>
