<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="Userform" >
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="name" placeholder="Username" autocomplete="username" required>
                </div>
                <div *ngIf="Userform.get('name').invalid && Userform.get('name').touched">
                  <small *ngIf="Userform.get('name').errors.required" class="text-danger"> User name is required </small>
                <small *ngIf="Userform.get('name').errors.minlength" class="text-danger"> User name minlength is equal to 3 </small>
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="email" class="form-control" formControlName="email" placeholder="Email" autocomplete="email" required>
                </div>
                <div *ngIf="Userform.get('email').invalid && Userform.get('email').touched">
                  <small *ngIf="Userform.get('email').errors.required" class="text-danger"> Email is required </small>
                <small *ngIf="Userform.get('email').errors.email" class="text-danger"> Email must be a valid email address </small>
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" formControlName="password" placeholder="Password" autocomplete="new-password" required>
                </div>
                <div *ngIf="Userform.get('password').invalid && Userform.get('password').touched">
                  <small *ngIf="Userform.get('password').errors.required" class="text-danger"> Password is required </small>
                </div>
                
  
                <div class="h6" style="color:red" > {{er}}</div>
                <button type="button" class="btn btn-block btn-success"type="submit" (click)="onSubmit()">Create Account</button>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
